In [1]:
mylist=[1,2,3]

In [2]:
for nu in range(10):
    print(nu)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
index_count = 0
for letter in'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
 word = 'abcde'
for item in enumerate(word):
        print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [9]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [17]:
mylist1= [1,2,3,4,5]
mylist2= ['a','b','c']
mylist3 = [100,200,300]

In [18]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'mykey' in {'mykey':234}

True

In [29]:
d={'mykey':234}
234 in d.keys()

False

In [30]:
d={'mykey':234}
234 in d.values()

True

In [31]:
mylist= [10,20,30,40,50]

In [32]:
min(mylist)

10

In [33]:
max(mylist)

50

In [34]:
from random import shuffle

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [39]:
shuffle(mylist)

In [40]:
mylist

[1, 8, 6, 3, 4, 10, 5, 9, 2, 7]

In [41]:
random_list = shuffle(mylist)

In [42]:
type(random_list)

NoneType

In [43]:
mylist

[1, 2, 3, 6, 10, 5, 8, 7, 9, 4]

In [44]:
from random import randint

In [45]:
randint(0,100)

85

In [46]:
randint(0,100)

4

In [47]:
mynum=randint(0,20)

In [48]:
mynum

14

In [49]:
result=input('Enter a number here:')

Enter a number here:50

'50'